<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
    <div id="echi" class="wraper wraper-bg">
        <div class="login-wraper">
            <h2 class="login-title">欢迎您</h2>
            <div class="login-item">
                <i class="login-icon iconfont">&#xe697;</i>
                <input class="login-input" type="text" @keyup.13="login" v-model="user.name">
            </div>
            <div class="login-item">
                <i class="login-icon iconfont">&#xe600;</i>
                <input class="login-input" type="password" @keyup.13="login" v-model="user.password">
            </div>
            <div class="login-item">
                <button class="login-submit" @click="login">登录</button>
            </div>
        </div>
    </div>

    <script color="255,255,255" opacity='1' zIndex="1" count="100" 
        src="js/canvas-nest.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/js/base.js"></script>
</body>
</html>